.header{
    padding-top: 10px;
    background-color: rgb(255, 186, 0);
}
.logo img{
    width: 85px;
}
.top_header, .bottom_header{
    display: flex;
}
.menu_header{
    display: flex;
    padding: 0;
}
.menu_header li{
    display: flex;
    padding: 0;
}
#search-input{
    height: calc(1em + .75rem + 2px);
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
}
#btn_upload{
    display: flex;
    background-color: #fa9224;
    height: 35px;
    width: 80%;
}
#btn_upload i{
    font-size: 20px;
    margin-right: 10px;
    color: #fff;
}
#btn_upload p{
    font-size: 16px;
    margin-right: 5px;
    color: #fff;
    margin-top: -2px;
}
.form-outline{
    padding: 0;
}
.search, .logo, .menu ,.login_group {
    padding: 0;
}
#search-button{
    font-size: 5px;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    background-color: #fff;
    border: none;
}
#search-button i{
    font-size: 12px;
    color: black;
}
.menu_header a{
    font-size: 18px;
    color: #000;
    text-decoration: none;
    
}
.bottom_header .menu_header a{
    font-weight: bold;
    font-size: 20px;
}
.bottom_header .menu_header i{
    font-size: 35px;
    padding-right: 5px;
}
.menu_header i{
    font-size: 25px;
    padding-right: 5px;
}